<!DOCTYPE html>
<html>
<head>
  <title>KonoMailup</title>
  <%= stylesheet_link_tag    "kono_mailup/application", media: "all" %>
  <%= javascript_include_tag "kono_mailup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
